In [1]:
import pandas as pd

In [2]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /Users/hernanamiune/opt/anaconda3/lib/python3.9/site-packages (12.0.1)
Requirement already satisfied: numpy>=1.16.6 in /Users/hernanamiune/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.24.3)

In [3]:
df_train = pd.read_parquet('https://github.com/amiune/freecodingtour/raw/main/cursos/espanol/deeplearning/data/train.parquet', engine='pyarrow')
df_test = pd.read_parquet('https://github.com/amiune/freecodingtour/raw/main/cursos/espanol/deeplearning/data/test.parquet', engine='pyarrow')

In [4]:
df_train.head()

,id,movie_name,synopsis,genre
0,44978,Super Me,A young scriptwriter starts bringing valuable ...,fantasy
1,50185,Entity Project,A director and her friends renting a haunted h...,horror
2,34131,Behavioral Family Therapy for Serious Psychiat...,This is an educational video for families and ...,family
3,78522,Blood Glacier,Scientists working in the Austrian Alps discov...,scifi
4,2206,Apat na anino,Buy Day - Four Men Widely - Apart in Life - By...,action

In [5]:
df_train.shape

(54000, 4)

In [25]:
genres_list = list(df_train.genre.unique())
genres_list

['fantasy',
 'horror',
 'family',
 'scifi',
 'action',
 'crime',
 'adventure',
 'mystery',
 'romance',
 'thriller']

In [7]:
df_test.head()

,id,movie_name,synopsis,genre
0,16863,A Death Sentence,"12 y.o. Ida's dad'll die without a DKK1,500,00...",action
1,48456,Intermedio,A group of four teenage friends become trapped...,action
2,41383,30 Chua Phai Tet,A guy left his home for 12 years till he came ...,action
3,84007,Paranoiac,A man long believed dead returns to the family...,action
4,40269,Ordinary Happiness,"After a deadly accident, Paolo comes back on E...",action

In [8]:
df_test.shape

(36000, 4)

In [9]:
df_test.genre.value_counts()

action    36000
Name: genre, dtype: int64

In [10]:
df_test["synopsis"].str.contains("horror").sum()

383

In [11]:
df_train.loc[df_train["synopsis"].str.contains("horror"),["synopsis","genre"]].head(20)

                                               synopsis      genre
105   A supernatural horror film in which a woman at...     horror
127   What starts out as girls weekend away in the M...     horror
250                            Five segments of horror.    fantasy
383   When people begin mysteriously disappearing in...   thriller
551   A long-awaited sequel to the internationally a...     action
615   This horror thriller revolves around the 168 h...     horror
672   English feature film. a group of original six ...      scifi
839   A surgeon, feeling guilty over his daughter's ...   thriller
841   Grindsploitation 8: Drive-In Grindhouse part 8...     horror
942   An analog horror about the investigation of pe...     horror
1142  A sequel to the horror film Candyman (1992) th...     horror
1157  A worn Dr. MacLean is once more called into ac...      scifi
1545  A teenager teams up with the daughter of young...  adventure
1595  A couple struggling to conceive visit a miracl...      scifi
1807  A coming of age horror film in the vein of Joh...     horror
1840  Into the Forest follows three paranormal Youtu...     horror
1922  The film has dark, demonic colors with materia...     horror
1931  Redirecting a wrongly posted letter leads an e...   thriller
1942  Yannick & Noah has not seen each other for a y...     horror
2032  Reboot of the 1984 horror classic SILENT NIGHT...     horror

In [21]:
df_test.synopsis = df_test.synopsis.str.lower()
df_test.head()

,id,movie_name,synopsis,genre
0,16863,A Death Sentence,"12 y.o. ida's dad'll die without a dkk1,500,00...",action
1,48456,Intermedio,a group of four teenage friends become trapped...,action
2,41383,30 Chua Phai Tet,a guy left his home for 12 years till he came ...,action
3,84007,Paranoiac,a man long believed dead returns to the family...,family
4,40269,Ordinary Happiness,"after a deadly accident, paolo comes back on e...",action

In [22]:
for genre in genres_list:
    df_test.loc[df_test["synopsis"].str.contains(genre),["genre"]] = genre

In [23]:
df_submission = pd.DataFrame({"id":df_test["id"],"genre":df_test["genre"]})

In [24]:
df_submission.to_csv("submission.csv", index=False)