# Muchas variables con un solo nombre

Es muy util tener muchas variables con un solo nombre. Supongamos que queremos guardar los precios de tres articulos que compramos en el supermercado. Necesitaremos crear tres variables de la siguiente manera:

In [ ]:
precio_articulo1 = 3.4
precio_articulo2 = 2.1
precio_articulo3 = 1.8

Que pasaria ahora si quisieramos guardar 100 articulos? Deberiamos escribir 100 nombres distintos para 100 variables distintas. Seria mucho mejor utilizar una sola variable llamada precio_articulos que nos permita guardar todo. Python nos permite hacer esto mediante las variables de tipo lista que se crean utilizando corchetes []:

In [ ]:
precio_articulos = [3.4, 2.1, 1.8]

In [ ]:
print(precio_articulos)

Y podemos acceder a sus valores individuales utilizando los corchetes y la posicion, siempre la primera posicion es la cero:

In [ ]:
precio_articulos[0]

In [ ]:
precio_articulos[1]

In [ ]:
precio_articulos[2]

IMPORTANTE!: siempre la primera posicion es la [0] cero

IMPORTANTE!: siempre la ultima posicion es el numero de elementos menos 1. En este caso 3-1 = 2

De la misma forma podemos cambiar el valor de uno de sus elementos:

In [ ]:
precio_articulos[1] = 10.4

In [ ]:
print(precio_articulos)

Para agregar elementos a una lista utilizaremos la funcion incorporada .append() que poseen las listas:

In [ ]:
precio_articulos.append(0.55)

In [ ]:
print(precio_articulos)

La funcion len() me dira cuantos valores hay en una lista:

In [ ]:
len(precio_articulos)

#### Errores: 

Si intentamos acceder a una posicion mayor al numero de elementos en la lista veremos un error llamado "index out of range" que quiere decir que la posicion a la que intentamos acceder esta fuera de rango, es decir, no existe:

In [ ]:
precio_articulos[7]

### Ejercicio 1:

Utiliza los corchetes y la funcion print() para mostrar el valor del elemento que se encuentra en la posicion 3 (empezando a contar siempre desde la posicion cero)

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion Ejercicio 1 {display-mode:"form"}

print(precio_articulos[3])

## Lista Vacia

Podemos crear una lista vacia (sin elementos)

In [ ]:
mi_lista = []
print(mi_lista)

In [ ]:
len(mi_lista)

Muchas veces sera util crear una lista vacia y luego ir agregando elementos a traves de la funcion append()

In [ ]:
mi_lista.append(10)
mi_lista.append(20)
print(mi_lista)
print(len(mi_lista))

### Ejercicio 2:

Crear una lista vacia y luego agregarle siguientes valores de tipo string: "ave","mamifero","reptil"

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion Ejercicio 2 {display-mode:"form"}

lista = []
lista.append("ave")
lista.append("mamifero")
lista.append("reptil")

### Ejercicio 2.1:

Utiliza los corchetes y el numero de la posicion para mostrar el valor que se encuentra en la ultima posicion. El resultado mostrado deberia ser "reptil"

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion Ejercicio 2.1 {display-mode:"form"}

print(lista[2])

### Ejercicio 2.2:

Utiliza los corchetes y el numero de la posicion para cambiar el valor de la posicion 1 que es "mamifero" por "marsupial" y luego utilizar print para mostrar todos los valores de la lista. El resultado mostrado deberia ser ['ave', 'marsupial', 'reptil']

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion Ejercicio 2.2 {display-mode:"form"}

lista[1] = "marsupial"
print(lista)

## Creando listas con la funcion range()

La funcion range() me permite crear listas con numeros enteros. Veamos un ejemplo:

In [ ]:
range(10)

Como el resultado de la funcion range() no es una lista podemos usar la funcion list() para ver la lista generada:

In [ ]:
list(range(10))

Vemos que la funcion range(10) me genera una lista de elementos empezando por el 0 (cero) y luego incrementando de a uno hasta que llega al 10. Ahi se detiene y no incluye este ultimo elemento en la lista

### Ejercicio 3

Usar la funcion range() para crear una lista con los numeros del 0 al 20 (el 20 incluido)

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion Ejercicio 3 {display-mode:"form"}

list(range(21))

### Funcion range(inicio, fin) con inicio y fin excluido

Veamos que pasa ahora si le pasamos dos valores a la funcion range(). Un valor de inicio y otro de fin:

In [ ]:
list(range(5,10))

En este caso empieza a generar numeros desde 5 e incrementa de a uno hasta llegar a 10 pero el 10 no lo incluya

### Ejercicio 4

Usar la funcion range() para crear una lista con los numeros del 12 al 22 (el 22 incluido)

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion Ejercicio 4 {display-mode:"form"}

list(range(12,23))

### Funcion renge con tres valores: range(inicio, fin, incremento_o_decremento) 

Veamos que pasa ahora si le pasamos tres valores a la funcion range(). Un valor de inicio y otro de fin y otro que especifica cuanto sumar o restar a cada paso:

In [ ]:
list(range(10,100,20))

### Ejercicio 5

Usar la funcion range() para crear una lista con los numeros del 100 al 1000 (el 1000 incluido) con intervalos de 150

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion Ejercicio 5 {display-mode:"form"}

list(range(100,1001,150))

Veamos ahora con un valor negativo para lograr un decremento:

In [ ]:
list(range(100,10,-20))

### Ejercicio 6

Usar la funcion range() para crear una lista decreciente con los numeros del 10 al 0 (el 10 y el 0 incluidos)

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion Ejercicio 6 {display-mode:"form"}

list(range(10,-1,-1))

# Fin: [Volver al contenido del curso](https://www.freecodingtour.com/cursos/espanol/programacion/programacion.html)