# Acomodar los datos en una tabla

Aqui veremos una herramienta que se llama pandas. Es una libreria de python que tiene funciones muy utiles para convertir nuestros datos en una tabla y luego trabajar con ella. Podriamos compararlos con una planilla de calculos como excel pero para millones de datos y con toda la potencia de poder trabajar con las librerias de python.

### Vamos a convertir en una tabla los datos de telefonos moviles que obtuvimos de internet

- Apple iPhone 11 Pro, 256GB, Gris Espacial (Reacondicionado) 461,99€
- APPLE iPhone 11 Pro DESBLOQUEADO - 256 GB Gris espacial 294,84 EUR
- Apple iPhone 11 Pro 64GB Gris Espacial (Reacondicionado) 419,99€
- Apple iPhone 11 Pro 512GB Oro (Reacondicionado) 535,00€
- APPLE IPHONE 11 PRO 256GB BATERIA 100% + 8 ACCESORIOS DE REGALO 499,00 EUR
- Apple iPhone 11 Pro - 256 GB Verde Medianoche (Desbloqueado) 234,92 EUR
- Apple iPhone 11 Pro - 256 GB Desbloqueado MUY BUEN ESTADO 469,82 EUR
- Apple iPhone 11 Pro 256GB 4G LTE - Operador Desbloqueado - Buen Estado 422,60 EUR

Tambien sabemos que nuestro iphone 11 pro: es gris, tiene 256GB de memoria, no esta reacondicionado, esta desbloqueado y el estado es bueno.

Primero importamos la libreria de pandas con la palabra **import** y con la palabra **as** decimos que en adelante vamos a llamarla con el nombre abreviado **pd** que ya casi se ha convertido en un estandard porque la mayoria la llama asi

In [1]:
import pandas as pd

Con pandas podemos crear dos tipos de variables:
1. Un tipo de variable tabla que se llama DataFrame y contiene filas y columnas
2. Un tipo de variable columna que se llama Series y contiene una sola columna

A continuacion crearemos una tabla especificando los nombres de las columnas y los valores de sus filas:

In [9]:
df = pd.DataFrame({
    'Memoria': [256, 256, 64, 512, 256, 256, 256, 256],
    'Color': ['Gris','Gris','Gris','Oro', pd.NA, 'Verde', pd.NA, pd.NA],
    'Desbloqueado':[pd.NA, pd.NA, True, pd.NA, pd.NA, True, True, True],
    'Estado': ['Reacondicionado',pd.NA,'Reacondicionado','Reacondicionado',pd.NA, pd.NA, 'Muy bueno', 'Bueno'],
    'Precio': [461.99, 294.84,419.99,535.00,499.00,234.92,469.82,422.60]
             })

Vemos que donde nos faltaba el dato hemos puesto el valor **pd.NA** que es el valor que utiliza pandas para decir que ese dato falta. NA significa "Not Available" en ingles que es "No Disponible"

Veamos ahora como ha quedado nuestra tabla:

In [10]:
df

   Memoria  Color Desbloqueado           Estado  Precio
0      256   Gris         <NA>  Reacondicionado  461.99
1      256   Gris         <NA>             <NA>  294.84
2       64   Gris         True  Reacondicionado  419.99
3      512    Oro         <NA>  Reacondicionado  535.00
4      256   <NA>         <NA>             <NA>  499.00
5      256  Verde         True             <NA>  234.92
6      256   <NA>         True        Muy bueno  469.82
7      256   <NA>         True            Bueno  422.60

Tambien podemos ver cada columna utilizando el nombre de la misma:

In [11]:
df.Color

0     Gris
1     Gris
2     Gris
3      Oro
4     <NA>
5    Verde
6     <NA>
7     <NA>
Name: Color, dtype: object

### Ejercicio 1:
    
Mostrar los valores de la columna Precio:

In [ ]:
# Escribir aqui la solucion

In [12]:
#@title Solucion Ejercicio 1 {display-mode:"form"}

df.Precio

0    461.99
1    294.84
2    419.99
3    535.00
4    499.00
5    234.92
6    469.82
7    422.60
Name: Precio, dtype: float64

In [13]:
pd.isna(df)

   Memoria  Color  Desbloqueado  Estado  Precio
0    False  False          True   False   False
1    False  False          True    True   False
2    False  False         False   False   False
3    False  False          True   False   False
4    False   True          True    True   False
5    False  False         False    True   False
6    False   True         False   False   False
7    False   True         False   False   False

In [ ]:
df.Color.fillna('Gris')

# Fin: [Volver al contenido del curso](https://www.freecodingtour.com/cursos/espanol/datascience/datascience.html)