# Acomodar los datos en una tabla

Aqui veremos una herramienta que se llama pandas. Es una libreria de python que tiene funciones muy utiles para convertir nuestros datos en una tabla y luego trabajar con ella. Podriamos compararlos con una planilla de calculos como excel pero para millones de datos y con toda la potencia de poder trabajar con las librerias de python.

### Vamos a convertir en una tabla los datos de telefonos moviles que obtuvimos de internet

- Apple iPhone 11 Pro, 256GB, Gris Espacial (Reacondicionado) 461,99€
- APPLE iPhone 11 Pro DESBLOQUEADO - 256 GB Gris espacial 294,84 EUR
- Apple iPhone 11 Pro 64GB Gris Espacial (Reacondicionado) 419,99€
- Apple iPhone 11 Pro 512GB Oro (Reacondicionado) 535,00€
- APPLE IPHONE 11 PRO 256GB BATERIA 100% + 8 ACCESORIOS DE REGALO 499,00 EUR
- Apple iPhone 11 Pro - 256 GB Verde Medianoche (Desbloqueado) 234,92 EUR
- Apple iPhone 11 Pro - 256 GB Desbloqueado MUY BUEN ESTADO 469,82 EUR
- Apple iPhone 11 Pro 256GB 4G LTE - Operador Desbloqueado - Buen Estado 422,60 EUR

Tambien sabemos que nuestro iphone 11 pro: es gris, tiene 256GB de memoria, no esta reacondicionado, esta desbloqueado y el estado es bueno.

Primero importamos la libreria de pandas con la palabra **import** y con la palabra **as** decimos que en adelante vamos a llamarla con el nombre abreviado **pd** que ya casi se ha convertido en un estandar porque la mayoria la llama asi pero la podriamos llamar como queramos

In [1]:
import pandas as pd

Con pandas podemos crear dos tipos de variables:
1. Un tipo de variable tabla que se llama DataFrame y contiene filas y columnas
2. Un tipo de variable columna que se llama Series y contiene una sola columna

A continuacion crearemos una tabla especificando los nombres de las columnas y los valores de sus filas:

In [2]:
df = pd.DataFrame({
    'Memoria': [256, 256, 64, 512, 256, 256, 256, 256],
    'Color': ['Gris','Gris','Gris','Oro', pd.NA, 'Verde', pd.NA, pd.NA],
    'Desbloqueado':[pd.NA, pd.NA, True, pd.NA, pd.NA, True, True, True],
    'Estado': ['Reacondicionado',pd.NA,'Reacondicionado','Reacondicionado',pd.NA, pd.NA, 'Muy bueno', 'Bueno'],
    'Precio': [461.99, 376.84,419.99,535.00,499.00,397.92,469.82,422.60]
             })

Vemos que donde nos faltaba el dato hemos puesto el valor **pd.NA** que es el valor que utiliza pandas para decir que ese dato falta. NA significa "Not Available" en ingles que es "No Disponible"

Veamos ahora como ha quedado nuestra tabla:

In [3]:
df

   Memoria  Color Desbloqueado           Estado  Precio
0      256   Gris         <NA>  Reacondicionado  461.99
1      256   Gris         <NA>             <NA>  376.84
2       64   Gris         True  Reacondicionado  419.99
3      512    Oro         <NA>  Reacondicionado  535.00
4      256   <NA>         <NA>             <NA>  499.00
5      256  Verde         True             <NA>  397.92
6      256   <NA>         True        Muy bueno  469.82
7      256   <NA>         True            Bueno  422.60

Tambien podemos ver cada columna utilizando el nombre de la misma:

In [4]:
df.Color

0     Gris
1     Gris
2     Gris
3      Oro
4     <NA>
5    Verde
6     <NA>
7     <NA>
Name: Color, dtype: object

### Ejercicio 1:
    
Mostrar los valores de la columna Precio:

In [5]:
# Escribir aqui la solucion

In [6]:
#@title Solucion Ejercicio 1 {display-mode:"form"}

df.Precio

0    461.99
1    376.84
2    419.99
3    535.00
4    499.00
5    397.92
6    469.82
7    422.60
Name: Precio, dtype: float64

Ahora reemplazaremos los valores faltantes. Los reemplazaremos por valores que creamos convenientes. Utilizaremos la funcion **fillna()** de las columnas de pandas:

In [7]:
# reemplazamos los valores faltantes de la columna Color por 'Gris'
df.Color = df.Color.fillna('Gris')

# reemplazamos los valores faltantes de la columna Desbloqueado por True
df.Desbloqueado = df.Desbloqueado.fillna(False)

In [8]:
df

   Memoria  Color  Desbloqueado           Estado  Precio
0      256   Gris         False  Reacondicionado  461.99
1      256   Gris         False             <NA>  376.84
2       64   Gris          True  Reacondicionado  419.99
3      512    Oro         False  Reacondicionado  535.00
4      256   Gris         False             <NA>  499.00
5      256  Verde          True             <NA>  397.92
6      256   Gris          True        Muy bueno  469.82
7      256   Gris          True            Bueno  422.60

### Ejercicio 2:
    
Reemplazar los valores faltantes de la columna Estado por 'Bueno':

In [9]:
# Escribir aqui la solucion

In [10]:
#@title Solucion Ejercicio 2 {display-mode:"form"}

# reemplazamos los valores faltantes de la columna Estado por 'Bueno'
df.Estado = df.Estado.fillna('Bueno')

In [11]:
df

   Memoria  Color  Desbloqueado           Estado  Precio
0      256   Gris         False  Reacondicionado  461.99
1      256   Gris         False            Bueno  376.84
2       64   Gris          True  Reacondicionado  419.99
3      512    Oro         False  Reacondicionado  535.00
4      256   Gris         False            Bueno  499.00
5      256  Verde          True            Bueno  397.92
6      256   Gris          True        Muy bueno  469.82
7      256   Gris          True            Bueno  422.60

Ahora que ya tenemos la tabla completa el proximo paso es convertir todos los datos de cada columna a numeros. Esto lo veremos en la unidad siguiente pero antes de eso guardaremos nuestra tabla completa en un archivo de texto separado por comas:

In [12]:
df.to_csv("tabla_telefonos.csv", index=False)

# Fin: [Volver al contenido del curso](https://www.freecodingtour.com/cursos/espanol/datascience/datascience.html)