# Convirtiendo todos los datos a numeros

Como mencionamos, una vez que tenemos nuestra tabla completa el proximo paso es convertir todos nuestros datos a numeros. Esto sirve porque las cajas negras que utilizaremos para hacer predicciones son algoritmos matematicos que funcionan con numeros. Si convierto toda mi tabla en numeros podemos decir que cada fila es un vector que es una palabra que viene de la matematica y que escucharemos mucho. Veamos:

In [12]:
import pandas as pd

In [14]:
# cargamos la tabla que habiamos guardado en un archivo de texto
df = pd.read_csv("tabla_telefonos.csv")

In [18]:
df

   Memoria  Color  Desbloqueado           Estado  Precio
0      256   Gris         False  Reacondicionado  461.99
1      256   Gris         False            Bueno  294.84
2       64   Gris          True  Reacondicionado  419.99
3      512    Oro         False  Reacondicionado  535.00
4      256   Gris         False            Bueno  499.00
5      256  Verde          True            Bueno  234.92
6      256   Gris          True        Muy bueno  469.82
7      256   Gris          True            Bueno  422.60

### Como hacemos ahora para convertir la palabras 'Gris', True, 'Oro', False, 'Reacondicionado' y demas a numeros?

Ya se han estudiado muchos metodos y aqui vamos a ver solo el mas conocido y que mejor funciona pero primero entendamos la diferencia que hay entre tipos de columnas. Existen dos tipos:
1. Categoricas: poseen un numero finito de valores.
2. Numericas: Pueden tener un numero infinito de valores.

Es facil ver que la columna Color es categorica porque tiene solo tres posibles valores (Verde, Oro y Gris) podemos pensar en reemplazarlos por 1, 2 y 3 pero esto no es muy buena idea porque nuestra caja negra puede creer que 3 al ser mayor a 2 es mejor. Entonces lo que se hace es crear tres columnas una para cada valor (Verde, Oro y Gris) y poner 1 o 0 segun corresponda. Para ello utilizaremos la funcion de pandas **pd.get_dummies()** 

Veamos:

In [22]:
df2 = pd.get_dummies(df,columns=["Color"])
df2

,Memoria,Desbloqueado,Estado,Precio,Color_Gris,Color_Oro,Color_Verde
0,256,False,Reacondicionado,461.99,1,0,0
1,256,False,Bueno,294.84,1,0,0
2,64,True,Reacondicionado,419.99,1,0,0
3,512,False,Reacondicionado,535.00,0,1,0
4,256,False,Bueno,499.00,1,0,0
5,256,True,Bueno,234.92,0,0,1
6,256,True,Muy bueno,469.82,1,0,0
7,256,True,Bueno,422.60,1,0,0

### Ejercicio 1:

Convertir las columnas Memoria, Color, Desbloqueado y Estado a numeros utlizando la funcion **pd.get_dummies()** y guardar el resultado en la variable **df2**

In [ ]:
# Escribir aqui la solucion

In [24]:
#@title Solucion Ejercicio 1 {display-mode:"form"}

df2 = pd.get_dummies(df,columns=["Memoria","Color","Desbloqueado","Estado"])
df2

,Precio,Memoria_64,Memoria_256,Memoria_512,Color_Gris,Color_Oro,Color_Verde,Desbloqueado_False,Desbloqueado_True,Estado_Bueno,Estado_Muy bueno,Estado_Reacondicionado
0,461.99,0,1,0,1,0,0,1,0,0,0,1
1,294.84,0,1,0,1,0,0,1,0,1,0,0
2,419.99,1,0,0,1,0,0,0,1,0,0,1
3,535.00,0,0,1,0,1,0,1,0,0,0,1
4,499.00,0,1,0,1,0,0,1,0,1,0,0
5,234.92,0,1,0,0,0,1,0,1,1,0,0
6,469.82,0,1,0,1,0,0,0,1,0,1,0
7,422.60,0,1,0,1,0,0,0,1,1,0,0

Si observamos bien la variable memoria es numerica pero solo puede tener una cantidad finita de valores (64, 256, 512) por lo que podemos tratarla tambien como categorica.

In [25]:
df2.iloc[0]

Precio                    461.99
Memoria_64                  0.00
Memoria_256                 1.00
Memoria_512                 0.00
Color_Gris                  1.00
Color_Oro                   0.00
Color_Verde                 0.00
Desbloqueado_False          1.00
Desbloqueado_True           0.00
Estado_Bueno                0.00
Estado_Muy bueno            0.00
Estado_Reacondicionado      1.00
Name: 0, dtype: float64

In [26]:
df2.iloc[0].to_numpy()

array([461.99,   0.  ,   1.  ,   0.  ,   1.  ,   0.  ,   0.  ,   1.  ,
         0.  ,   0.  ,   0.  ,   1.  ])

Ahora si cada fila solo contiene numeros. Podemos decir que cada fila o cada dato es un vector.

El proximo paso es separar nuestra tabla en dos tablas:
- Una tabla de Entrenamiento (Train)
- Una tabla de Prueba (Test)

Esto lo veremos en la siguiente unidad pero antes de eso guardaremos nuestra tabla completa en un archivo de texto separado por comas:

In [27]:
df2.to_csv("tabla_telefonos2.csv", index=False)

# Fin: [Volver al contenido del curso](https://www.freecodingtour.com/cursos/espanol/datascience/datascience.html)