# Separar la tabla en dos: Entrenamiento y Prueba

In [1]:
import pandas as pd

In [2]:
# cargamos la tabla que habiamos guardado en un archivo de texto
df = pd.read_csv("tabla_telefonos2.csv")

In [3]:
df

,Precio,Memoria_64,Memoria_256,Memoria_512,Color_Gris,Color_Oro,Color_Verde,Desbloqueado_False,Desbloqueado_True,Estado_Bueno,Estado_Muy bueno,Estado_Reacondicionado
0,461.99,0,1,0,1,0,0,1,0,0,0,1
1,294.84,0,1,0,1,0,0,1,0,1,0,0
2,419.99,1,0,0,1,0,0,0,1,0,0,1
3,535.00,0,0,1,0,1,0,1,0,0,0,1
4,499.00,0,1,0,1,0,0,1,0,1,0,0
5,234.92,0,1,0,0,0,1,0,1,1,0,0
6,469.82,0,1,0,1,0,0,0,1,0,1,0
7,422.60,0,1,0,1,0,0,0,1,1,0,0

Aqui empezaremos a utilizar una nueva libreria llamada **sklearn** que tiene una gran cantidad de funciones y algorimos que nos ayudaran con el Machine Learning

Tiene tantas funciones que iremos importando solo las que utilizaremos y eso lo hacemos con las palabras **from** e **import**. A continuacion solo importaremos la funcion **train_test_split** del modulo **model_selection** de la libreria **sklearn**

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
df_train, df_test = train_test_split(df, test_size=0.33, random_state=42)

In [6]:
df_train

,Precio,Memoria_64,Memoria_256,Memoria_512,Color_Gris,Color_Oro,Color_Verde,Desbloqueado_False,Desbloqueado_True,Estado_Bueno,Estado_Muy bueno,Estado_Reacondicionado
7,422.60,0,1,0,1,0,0,0,1,1,0,0
2,419.99,1,0,0,1,0,0,0,1,0,0,1
4,499.00,0,1,0,1,0,0,1,0,1,0,0
3,535.00,0,0,1,0,1,0,1,0,0,0,1
6,469.82,0,1,0,1,0,0,0,1,0,1,0

In [7]:
df_test

,Precio,Memoria_64,Memoria_256,Memoria_512,Color_Gris,Color_Oro,Color_Verde,Desbloqueado_False,Desbloqueado_True,Estado_Bueno,Estado_Muy bueno,Estado_Reacondicionado
1,294.84,0,1,0,1,0,0,1,0,1,0,0
5,234.92,0,1,0,0,0,1,0,1,1,0,0
0,461.99,0,1,0,1,0,0,1,0,0,0,1

### Ejercicio 1:

Separar la tabla en dos pero con el 80% de los datos en la tabla de Train y el 20% en la tabla de Test

In [ ]:
# Escribir aqui la solucion

In [8]:
#@title Solucion Ejercicio 1 {display-mode:"form"}

df_train, df_test = train_test_split(df, test_size=0.20, random_state=42)

### Ejercicio 2:

Guardar las tablas de train y test en dos archivos de texto separados por comas con los nombres: **tabla_telefonos_train.csv** y **tabla_telefonos_test.csv**

In [ ]:
# Escribir aqui la solucion

In [9]:
#@title Solucion Ejercicio 2 {display-mode:"form"}

df_train.to_csv("tabla_telefonos_train.csv", index=False)
df_test.to_csv("tabla_telefonos_test.csv", index=False)

El proximo paso es pasarle estas tablas a nuestras cajas negras para poder entrenarlas y luego hacer predicciones con ellas.

# Fin: [Volver al contenido del curso](https://www.freecodingtour.com/cursos/espanol/datascience/datascience.html)