# Practica de Clasificacion. BD: Diabetes

El objetivo de este ejercicio es predecir si una persona tiene diabetes o no de acuerdo a una serie de datos recogidos de varias personas. Estos datos son los siguientes:

Tabla analisis:
- id: numero que identifica a la persona
- colesterol: esta variable es categorica y nos dice si el colesterol es bajo, medio o alto
- glucosa: esta variable es categorica y nos dice si la glucosa es baja, media o alta
- fuma: esta variable es categorica y nos dice si la persona fuma o no
- alcohol: esta variable es categorica y nos dice si la persona toma alcohol o no
- gimnasia: esta variable es categorica y nos dice si la persona hace gimnasia o no
- presion: es un texto que contiene dos numeros que indican la presion sistolica y diastolica
- diabetes: esta es la variable objetivo y nos dice si la persona tiene diabetes o no

Tabla info:
- id: numero que identifica a la persona
- edad: la edad de la persona que puede estar dada en años o en dias
- altura: la altura de la persona en centimetros
- peso: el peso de la persona en kilogramos
- sexo: sta variable es categorica y nos dice el sexo de la persona

Los datos estan separados en dos tablas y se relacionan mediante la columna id que contiene un numero que identifica a cada persona. Tambien los datos ya estan separados en train y test.

In [1]:
#importamos la libreria de pandas
import pandas as pd

### Cargar los archivos .csv con pandas

Cargar los archivos:
- data/diabetes/diabetes_train_analisis.csv
- data/diabetes/diabetes_train_info.csv

en dataframes

In [ ]:
# Escribir aqui la solucion

In [2]:
#@title Solucion {display-mode:"form"}

df_ana_train = pd.read_csv('data/diabetes/diabetes_train_analisis.csv')
df_inf_train = pd.read_csv('data/diabetes/diabetes_train_info.csv')

### Ver las primeras filas de ambos dataframes

Utilizar la funcion .head() para ver las primeras filas de cada DataFrame

In [3]:
df_ana_train.head()

      id colesterol glucosa  fuma  alcohol  gimnasia presion  diabetes
0  62538       bajo    baja     0        0         1  100/80         0
1  49159       bajo    baja     0        0         1  120/82         0
2  60683       bajo    baja     0        0         1  120/80         0
3  42924       bajo    baja     0        0         0  120\80         0
4  52888       bajo    baja     0        0         0  120/80         0

In [4]:
df_inf_train.head()

   id   edad  altura  peso       sexo
0   0     50     168  62.0          f
1   1     55     156  85.0          m
2   2  18857     165  64.0  masculino
3   3  17623     169  82.0          f
4   4     47     156  56.0          m

## Preprocesamiento de datos

Aqui vamos a ir paso a paso tranformando nuestros datos para que cada fila sea un vector de numeros para que nuestros algoritmos puedan entenderlos y hacer predicciones.

### Unir dataframes
Unir ambos dataframes por medio del campo id y eliminar dicho campo

In [ ]:
# Escribir aqui la solucion

In [5]:
#@title Solucion {display-mode:"form"}

df_train = pd.merge(df_ana_train,df_inf_train,on="id")
df_train = df_train.drop("id",axis=1)

In [6]:
df_train.head()

,colesterol,glucosa,fuma,alcohol,gimnasia,presion,diabetes,edad,altura,peso,sexo
0,bajo,baja,0,0,1,100/80,0,54,169,76.0,f
1,bajo,baja,0,0,1,120/82,0,49,165,65.0,m
2,bajo,baja,0,0,1,120/80,0,21962,170,56.0,m
3,bajo,baja,0,0,0,120\80,0,20287,169,62.0,m
4,bajo,baja,0,0,0,120/80,0,16202,166,67.0,masculino

### Corregir strings de presion
El campo pressure a veces tiene el caracter \ como separador y a veces /
Unificar el formato

In [ ]:
# Escribir aqui la solucion

In [7]:
#@title Solucion {display-mode:"form"}

df_train.presion = df_train.presion.str.replace("\\","/",regex=False)

In [8]:
df_train.head()

,colesterol,glucosa,fuma,alcohol,gimnasia,presion,diabetes,edad,altura,peso,sexo
0,bajo,baja,0,0,1,100/80,0,54,169,76.0,f
1,bajo,baja,0,0,1,120/82,0,49,165,65.0,m
2,bajo,baja,0,0,1,120/80,0,21962,170,56.0,m
3,bajo,baja,0,0,0,120/80,0,20287,169,62.0,m
4,bajo,baja,0,0,0,120/80,0,16202,166,67.0,masculino

### Separar el campo presion en dos
Utilizar el separador del campo presion para dividir en dos dicho campo y luego eliminarlo

In [ ]:
# Escribir aqui la solucion

In [9]:
#@title Solucion {display-mode:"form"}

df_train[["presion1","presion2"]] = df_train.presion.str.split("/", expand=True)
df_train = df_train.drop("presion",axis=1)

In [10]:
df_train.head()

,colesterol,glucosa,fuma,alcohol,gimnasia,diabetes,edad,altura,peso,sexo,presion1,presion2
0,bajo,baja,0,0,1,0,54,169,76.0,f,100,80
1,bajo,baja,0,0,1,0,49,165,65.0,m,120,82
2,bajo,baja,0,0,1,0,21962,170,56.0,m,120,80
3,bajo,baja,0,0,0,0,20287,169,62.0,m,120,80
4,bajo,baja,0,0,0,0,16202,166,67.0,masculino,120,80

### Unificar el formato del campo sexo
femenino a veces se encuentra como femenino y a veces como f
masculino a veces se encuentra como masculino y a veces como m
Unificar la notacion

In [ ]:
# Escribir aqui la solucion

In [11]:
#@title Solucion {display-mode:"form"}

df_train.sexo = df_train.sexo.str.replace("femenino","f")
df_train.sexo = df_train.sexo.str.replace("masculino","m")

In [12]:
df_train.head()

,colesterol,glucosa,fuma,alcohol,gimnasia,diabetes,edad,altura,peso,sexo,presion1,presion2
0,bajo,baja,0,0,1,0,54,169,76.0,f,100,80
1,bajo,baja,0,0,1,0,49,165,65.0,m,120,82
2,bajo,baja,0,0,1,0,21962,170,56.0,m,120,80
3,bajo,baja,0,0,0,0,20287,169,62.0,m,120,80
4,bajo,baja,0,0,0,0,16202,166,67.0,m,120,80

### Unificar el campo edad
El campo edad a veces se encuentra expresado en dias y a veces en años. Unificarlo

In [ ]:
# Escribir aqui la solucion

In [13]:
#@title Solucion {display-mode:"form"}

df_train.loc[df_train.edad < 150, "edad"] = df_train.loc[df_train.edad < 150, "edad"] * 365

In [14]:
df_train.head()

,colesterol,glucosa,fuma,alcohol,gimnasia,diabetes,edad,altura,peso,sexo,presion1,presion2
0,bajo,baja,0,0,1,0,19710,169,76.0,f,100,80
1,bajo,baja,0,0,1,0,17885,165,65.0,m,120,82
2,bajo,baja,0,0,1,0,21962,170,56.0,m,120,80
3,bajo,baja,0,0,0,0,20287,169,62.0,m,120,80
4,bajo,baja,0,0,0,0,16202,166,67.0,m,120,80

### Verificar si hay valores faltantes en algun campo

In [ ]:
# Escribir aqui la solucion

In [15]:
#@title Solucion {display-mode:"form"}

df_train.isna().sum()

colesterol       0
glucosa          0
fuma             0
alcohol          0
gimnasia         0
diabetes         0
edad             0
altura           0
peso          1998
sexo             0
presion1         0
presion2         0
dtype: int64

### Reemplazar valores faltantes
Reemplazar los valores faltantes del campo peso por la media de dicho campo

In [ ]:
# Escribir aqui la solucion

In [16]:
#@title Solucion {display-mode:"form"}

peso_promedio = df_train.peso.mean()
df_train.peso.fillna(peso_promedio, inplace=True)

In [17]:
df_train.head()

,colesterol,glucosa,fuma,alcohol,gimnasia,diabetes,edad,altura,peso,sexo,presion1,presion2
0,bajo,baja,0,0,1,0,19710,169,76.0,f,100,80
1,bajo,baja,0,0,1,0,17885,165,65.0,m,120,82
2,bajo,baja,0,0,1,0,21962,170,56.0,m,120,80
3,bajo,baja,0,0,0,0,20287,169,62.0,m,120,80
4,bajo,baja,0,0,0,0,16202,166,67.0,m,120,80

### Convertir variables categoricas a numericas
Convertir variables categoricas a numericas utilizando la funcion get_dummies

In [ ]:
# Escribir aqui la solucion

In [18]:
#@title Solucion {display-mode:"form"}

df_train = pd.get_dummies(df_train, columns=["colesterol","glucosa","sexo"])

In [19]:
df_train.head()

,fuma,alcohol,gimnasia,diabetes,edad,altura,peso,presion1,presion2,colesterol_alto,colesterol_bajo,colesterol_medio,glucosa_alta,glucosa_baja,glucosa_media,sexo_f,sexo_m
0,0,0,1,0,19710,169,76.0,100,80,0,1,0,0,1,0,1,0
1,0,0,1,0,17885,165,65.0,120,82,0,1,0,0,1,0,0,1
2,0,0,1,0,21962,170,56.0,120,80,0,1,0,0,1,0,0,1
3,0,0,0,0,20287,169,62.0,120,80,0,1,0,0,1,0,0,1
4,0,0,0,0,16202,166,67.0,120,80,0,1,0,0,1,0,0,1

### Cambiar la escala de las columnas numericas

Utilizar la clase StandarScaler() para llevar la escala de las variables numericas a una escala normal

In [20]:
from sklearn.preprocessing import StandardScaler

# Escribir aqui la solucion

In [21]:
#@title Solucion {display-mode:"form"}

from sklearn.preprocessing import StandardScaler
col_numericas = ["edad","altura","peso","presion1","presion2"]
scaler = StandardScaler()
scaler.fit(df_train[col_numericas])
df_train[col_numericas] = scaler.transform(df_train[col_numericas])

In [22]:
df_train.head()

,fuma,alcohol,gimnasia,diabetes,edad,altura,peso,presion1,presion2,colesterol_alto,colesterol_bajo,colesterol_medio,glucosa_alta,glucosa_baja,glucosa_media,sexo_f,sexo_m
0,0,0,1,0,0.119910,0.567395,0.126280,-0.175302,-0.086953,0,1,0,0,1,0,1,0
1,0,0,1,0,-0.618194,0.079476,-0.639530,-0.054742,-0.076428,0,1,0,0,1,0,0,1
2,0,0,1,0,1.030711,0.689375,-1.266102,-0.054742,-0.086953,0,1,0,0,1,0,0,1
3,0,0,0,0,0.353273,0.567395,-0.848387,-0.054742,-0.086953,0,1,0,0,1,0,0,1
4,0,0,0,0,-1.298867,0.201456,-0.500292,-0.054742,-0.086953,0,1,0,0,1,0,0,1

### Realizar las mismas transformaciones en la tabla de test

In [ ]:
# Escribir aqui la solucion

In [23]:
#@title Solucion {display-mode:"form"}

df_ana_test = pd.read_csv('data/diabetes/diabetes_test_analisis.csv')
df_inf_test = pd.read_csv('data/diabetes/diabetes_test_info.csv')
df_test = pd.merge(df_ana_test,df_inf_test,on="id")
df_test = df_test.drop("id",axis=1)
df_test.presion = df_test.presion.str.replace("\\","/",regex=False)
df_test[["presion1","presion2"]] = df_test.presion.str.split("/", expand=True)
df_test = df_test.drop("presion",axis=1)
df_test.sexo = df_test.sexo.str.replace("femenino","f")
df_test.sexo = df_test.sexo.str.replace("masculino","m")
df_test.loc[df_test.edad < 150, "edad"] = df_test.loc[df_test.edad < 150, "edad"] * 365
# Notar que utilizamos el peso promedio obtenido de la tabla de entrenamiento
df_test.peso.fillna(peso_promedio, inplace=True)
df_test = pd.get_dummies(df_test, columns=["colesterol","glucosa","sexo"])
# Notar que utilizamos el scaler con el fit hecho sobre la tabla de entrenamiento
df_test[col_numericas] = scaler.transform(df_test[col_numericas])

## Probar distintos clasificadores

Probar los siguientes algoritmos de machine learning para clasificacion de la libreria sklearn:

In [24]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import HistGradientBoostingClassifier

Utilizar la metrica de accuracy_score de sklearn sobre la tabla de test para medir que tan buena es la prediccion de cada algoritmo

In [25]:
from sklearn.metrics import accuracy_score

### Crear X_train, y_train, X_test, y_test

In [ ]:
# Escribir aqui la solucion

In [26]:
#@title Solucion {display-mode:"form"}

X_train = df_train.loc[:, df_train.columns != "diabetes"]
y_train = df_train.loc[:, "diabetes"]

X_test = df_test.loc[:, df_test.columns != "diabetes"]
y_test = df_test.loc[:, "diabetes"]

### Probar KNN

In [ ]:
# Escribir aqui la solucion

In [27]:
#@title Solucion {display-mode:"form"}

clf = KNeighborsClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Test accuracy:",accuracy_score(y_test, y_pred))

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Test accuracy: 0.9595

### Probar Arbol de Decision

In [ ]:
# Escribir aqui la solucion

In [28]:
#@title Solucion {display-mode:"form"}

clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Test accuracy:", accuracy_score(y_test, y_pred))

Test accuracy: 0.9812

### Probar Regresion Logistica

In [ ]:
# Escribir aqui la solucion

In [29]:
#@title Solucion {display-mode:"form"}

clf = LogisticRegression(max_iter=300)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Test accuracy:", accuracy_score(y_test, y_pred))

Test accuracy: 0.9907

### Probar GradientBoosting

In [ ]:
# Escribir aqui la solucion

In [30]:
#@title Solucion {display-mode:"form"}

clf = HistGradientBoostingClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
print("Test accuracy:", accuracy_score(y_test, y_pred))

Test accuracy: 0.9905

## Preguntas:
    
1. Es accuracy la mejor metrica para elegir el modelo? Que metrica utilizarias para elegir el modelo?

5. Que metrica utilizarias para reportar la capacidad de prediccion del modelo final seleccionado?

#@title Respuestas {display-mode:"form"}

1. Respuesta: AUC seria una mejor metrica ya que no depende del umbral (threshold) elegido aunque hay que tener en cuenta que las curvas de los distintos modelos no se crucen para que la comparacion sea justa.

2. Respuesta: Recall es la metrica que es mas significativa a la hora de predecir una enfermedad dado que queremos evitar Falsos Negativos, es decir, decir que no tiene enfermedad cuando si la tiene.

## Extra:

1. Mejorar el preprocesamiento de datos.


2. Utilizar [Cross Validation](https://scikit-learn.org/stable/modules/cross_validation.html) para obtener los mejores hiperparametros para cada clasificador.


3. Utilizar [Pipelines](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline) para realizar las transformaciones y el cambio de escala de los datos

# Fin: [Volver al contenido del curso](https://www.freecodingtour.com/cursos/espanol/datascience/datascience.html)