# Jugando con Pandas (contenido opcional)

Pandas es una libreria que tiene una cantidad enorme de funciones. Aqui solo veremos algunas de las mas utilizadas. Como decimos siempre no hace falta memorizarlas, cada vez que necesitemos hacer algo especifico podemos buscar en internet que funcion y como debemos utilizarla.

Los ejemplos de esta seccion estan basados en la documentacion oficial de [Pandas](https://pandas.pydata.org/docs/user_guide/index.html)

In [ ]:
import pandas as pd

## Crear Series y Dataframes

In [ ]:
pd.Series([1, 3, 5, np.nan, 6, 8])

In [ ]:
pd.DataFrame({'A': [1, 2, 3]})

In [ ]:
dates = pd.date_range("20130101", periods=6)

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [ ]:
df

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [ ]:
df2

## Inspeccionar elementos

In [ ]:
df.head()

In [ ]:
df.tail(3)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.to_numpy()

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
#ordenar por nombre de columna
df.sort_index(axis=1, ascending=False)

In [ ]:
#ordenar por valores de columna
df.sort_values(by="B")

## Seleccionar

In [ ]:
df["A"]

In [ ]:
df[0:3]

In [ ]:
df.loc["20130102":"20130104", ["A", "B"]]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.at[dates[0], "A"]

In [ ]:
df.iat[1, 1]

In [ ]:
df[df["A"] > 0]

In [ ]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2

In [ ]:
df2[df2["E"].isin(["two", "four"])]

## Modificar valores

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
df["F"] = s1

In [ ]:
df.at[dates[0], "A"] = 0

In [ ]:
df.iat[0, 1] = 0

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df))

In [ ]:
df

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

## Valores faltantes

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
df1

In [ ]:
df1.dropna(how="any")

In [ ]:
df1.fillna(value=5)

In [ ]:
pd.isna(df1)

## Operaciones

In [ ]:
df.mean() #eje 0 por columnas

In [ ]:
df.mean(1) #eje 1 por filas

In [ ]:
df.apply(np.cumsum, axis=0)

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
print(s)
s.value_counts()

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

## Combinar dataframes

In [ ]:
left = pd.DataFrame({"lkey": ["foo", "bar"], "lval": [1, 2]})
right = pd.DataFrame({"rkey": ["foo", "bar"], "rval": [4, 5]})
print(left)
print(right)

In [ ]:
new_df = left.join(right)
new_df

In [ ]:
right

In [ ]:
top = pd.DataFrame({"lkey": ["foo", "bar"], "lval": [1, 2]})
down = pd.DataFrame({"rkey": ["foo", "bar"], "rval": [4, 5]})
pd.concat([top, down], axis=0)

In [ ]:
pd.concat([top, down], axis=1)

In [ ]:
top = pd.DataFrame({"key": ["foo1", "bar1"], "val": [1, 2]})
down = pd.DataFrame({"key": ["foo2", "bar2"], "val": [4, 5]})
pd.concat([top, down], axis=0)

In [ ]:
top = pd.DataFrame({"key": ["foo1", "bar1"], "val": [1, 2]})
down = pd.DataFrame({"key": ["foo2", "bar2"], "val": [4, 5]})
pd.concat([top, down], axis=1)

## Combinar dataframes con una columna en comun

In [ ]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})
print(left)
print(right)

In [ ]:
pd.merge(left, right, on="key")

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["bar", "bar"], "rval": [4, 5]})
print(left)
print(right)

In [ ]:
pd.merge(left, right, on="key")

## Agrupar

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

In [ ]:
df_group = df.groupby("A")[["C", "D"]]
df_group.sum()

In [ ]:
type(df_group)

In [ ]:
type(df_group.sum())

In [ ]:
df.groupby("A").mean()

In [ ]:
df.groupby("Country")["Rate"].mean().max()

In [ ]:
df.groupby("A")["C"].mean().max()

In [ ]:
df.groupby(["A", "B"]).sum()

## Reformar dataframes

In [ ]:
tuples = list(
    zip(
        ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
        ["one", "two", "one", "two", "one", "two", "one", "two"],
    )
)
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
df2 = df[:4]
df2

In [ ]:
stacked = df2.stack()
stacked

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

## Tablas pivot

In [ ]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)
df

In [ ]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

## Atributos categoricos

In [ ]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
new_categories = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.rename_categories(new_categories)
df

In [ ]:
df["grade"] = df["grade"].cat.set_categories(
    ["very bad", "bad", "medium", "good", "very good"]
)
df["grade"]

In [ ]:
df.sort_values(by="grade") #ordena por la posicion seteada de las categorias

In [ ]:
df.groupby("grade").size() #groupby muestra las categorias vacias

## Leer y escribir en archivos

In [ ]:
df.to_csv("foo.csv")

In [ ]:
pd.read_csv("foo.csv")

In [ ]:
df.to_excel("foo.xlsx", sheet_name="Sheet1")
pd.read_excel("foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])

# Ejercicios

## Crear un Dataframe
Crear un dataframe con dos columnas "A" y "B"
La columna A contiene los siguientes nombres: "Alicia", "Beto", "Camila"
La columna B contiene las respectivas edades: 31,42,35

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df = pd.DataFrame({'A': ["Alicia", "Beto", "Camila"], 'B':[31,42,35]})
df

## Agregar una columna
Agregar la columna "C" con los siguientes datos 1.7,1.72,1.67

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df["C"] = [1.7,1.72,1.67]
df

## Cambiar el indice
Cambiar el indice de 0,1,2 por "a", "b", "c"

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df.index = ["a","b","c"]
df

## Cambiar el nombre de las columnas
Cambiar el nombre de las columnas A, B, C por "Nombre", "Edad", "Estatura"

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df.columns = ["Nombre", "Edad", "Estatura"]
df

## Mostrar la columna "Nombre"
Utilizar la funcion loc

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df.loc[:,"Nombre"]

## Mostrar elementos

Mostrar el elemento del indice "b" y columna "Nombre" usando loc

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df.loc["b","Nombre"]

Mostrar el elemento de la fila 1 y la columna 0 usando iloc

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df.iloc[1,0]

Mostrar la fila 1 usando iloc

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df.iloc[1,:]

## Ordenar dataframe
Ordenar el dataframe por la altura de menor a mayor

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df = df.sort_values(by="Estatura")
df

## Agregar datos al dataframe

In [ ]:
df2 = pd.DataFrame({'Nombre': ["Diana", "Ernesto", "Francisco"], 'Edad':[26,24,53], 'Estatura':[1.8,1.76,np.nan]})
df2

Agregar los datos del dataframe df2 a df

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df = df.append(df2)
df

## Reemplazar valores faltantes
Reemplazar los valores faltantes en la columna Estatura por la media de dicha columna

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df = df.fillna(np.round(df.Estatura.mean(),decimals=2))
df

## Mostrar usando condicionales en los indices
Mostar las filas donde la altura es mayor o igual a la media

In [ ]:
# Escribir aqui la solucion

In [ ]:
#@title Solucion {display-mode:"form"}

df[df.Estatura >= np.round(df.Estatura.mean(),decimals=2)]

# Fin: [Volver al contenido del curso](https://www.freecodingtour.com/cursos/espanol/datascience/datascience.html)